@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.main-content {
    margin-left: 300px;
    padding: 20px;
    transition: margin-left 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.sidebar.collapsed~.main-content {
    margin-left: 60px;
}

/* fade in transition */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}